const { <%= service %> } = require("../services");

const responseHandler = res => (err, response) => {
  if (err) {
    res.status(500).json(err);
  } else {
    res.status(200).json(response);
  }
};

// Create <%= name %>
exports.create = (req, res) => {
  const data = req.body;

  <%= service %>.create(data, responseHandler(res));
};

// Read All <%= name %>s
exports.readAll = (req, res) => {
  <%= service %>.readAll(req.params.search, responseHandler(res));
};

// Read <%= name %>
exports.read = (req, res) => {
  <%= service %>.read(req.params.id, responseHandler(res));
};

// Update <%= name %>
exports.update = (req, res) => {
  const data = req.body;

  <%= service %>.update(req.params.id, data, responseHandler(res));
};

// Delete <%= name %>
exports.delete = (req, res) => {
  <%= service %>.delete(req.params.id, responseHandler(res));
};
