"use strict";

// Dependencies
const mongoose = require("mongoose");
const Schema = mongoose.Schema;

// Helpers
const modelSearchByAttributes = require("../helpers/model-search-by-attributes");

const <%= schema %> = new Schema(
  {
    description: { type: String, required: true, required: true, unique: true, dropDups: true },
  },
  { 
    timestamps: {
      createdAt: "createdAt",
      updatedAt: "updatedAt"
    }
  }
);

<%= schema %>.statics.searchByAttributes = function(...args) {
  return modelSearchByAttributes.apply(this, args);
};


module.exports = mongoose.model("<%= name %>", <%= schema %>);
